# Terraform state
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/*.tfplan
infra/.terraform.tfstate.lock.info
infra/*.tfstate.lock.info
# Local Terraform data
infra/.terraform/
infra/.terraform.lock.hcl

# Sensitive variables
infra/*.tfvars
infra/*.auto.tfvars

# Crash logs
infra/crash.log
infra/*.log
